#list-stuff {
    background-image: url('https://generalassemb.ly/sites/default/files/styles/program_header_desktop_xxl_1x/public/2020-06/1_SEIR_HeaderImage_C2_taller%20%28f642b5d6-7b45-4442-b1c4-487e4a74c83d%29_0.jpg?itok=7jFPe5ru');
    background-position: center;
    background-size: cover;
    height: 100vh;

}